html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
        
*, *:before, *:after {box-sizing: inherit}
        
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Setting the font size to 10px and the chosen font style */

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif ;  
}

/* Set the width to align all the text centrally */
.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}


/* Start of Header */
header {
    
    background-image: url(./assets/image-main.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
}

header nav {
    display: flex;
    align-items: center;
    height: 15vh;
}

header nav p {
    width: calc(1140px / 2);
    font-size: 3.8rem;
    color: #005769;
    font-weight: 700;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    list-style: none;
    width: calc(1140px / 2);
}

header ul li {
    align-self: center;
    margin-left: 10px;
}

header a,
section a {
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.9rem;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
}

header a:hover,
section a:hover 
{
    background-color: #16d6d1;
    border-radius: 6px; 
} 

header div {
    display: flex;
    height: 85vh;
    align-items: center;    
}

h1 {
    width: calc(1140px / 2);
    color: #333333;
    font-size: 6.8rem;
    font-weight: 700;
}

/* main styling  */

main {
    padding: 175px 0;
}

main section {
    display: flex;
    justify-content: space-between;
}

.row_2,
.row_3 {
    margin-top: 30px;
}

img {
    width: inherit;
}

/* STYLING FOR THE FIRST TWO SECTIONS */
.img_1,
.img_2 {
    width: calc(380px - 15px);
}

.info_1,
.info_2 {
    width: calc(760px - 15px);
    text-align: center;
    background-color: #f6f8fa;

}

 h2 {
    margin: 0;
    font-weight: 700;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #777777;
    padding: 35px 160px;
    vertical-align: middle;
}
section p {
    margin: 0;
    height: 20%;
    font-weight: 700;
    font-size: 3.9rem;
    padding: 0 140px;
    color: #333333;
}

/* STYLING FOR THE THIRD SECTION */

.row_3 {
    justify-content: space-between;
}

.row_3 img {
    width: calc(380px - 15px);
}

.row_3 .left {
    display: flex;
    width: calc(760px - 15px);
    justify-content: space-between;
}

.left img {
    width: calc(380px - 22px);
}

/* FOOTER STYLING */

footer {
    display: flex;
    flex-direction: column;
    background-color: #f6f8fa;
} 

footer nav {
    display: flex;
    justify-content: space-between;
    height: 320px;
    padding: 60px 0;
}

footer nav p {
    width: calc(380px - 15px);
    font-size: 3.8rem;
    color: #005769;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc((1140px / 3) - 30px);
    padding-left: 0;
    margin: 0;
}

footer li {
    display: flex;
    padding: 5px;
}

footer a {
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.9rem;
    text-transform: uppercase;
    line-height: 2;
}

footer a:hover {
    color: #16d6d1;
} 

.summary {
    padding: 0 10px;
    line-height: 1.7;
    font-weight: 500;
    font-size: 2rem;
    color: #777777;
}

footer div {
    border-top: 1px solid #777777;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 2rem;
    color: #777777;
}
